<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Writing Live - Confirm Email</title>
<link href=":url:/tools/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src=":url:/tools/jquery.min.js"></script> 
<script type="text/javascript" src=":url:/tools/cufon-yui.js"></script>
<script type="text/javascript" src=":url:/tools/Abraham_Lincoln_400.font.js"></script>
<script type="text/javascript" src=":url:/tools/Inspiration_400.font.js"></script>
<script type="text/javascript" src=":url:/tools/Museo_Slab_100_400-Museo_Slab_700_400.font.js"></script>
<script type="text/javascript">
    Cufon.replace('.logo h1', {fontFamily: 'Inspiration'});
    Cufon.replace('.logo h2', {fontFamily: 'Museo Slab 100'});
    Cufon.replace('.logo h2 span', {fontFamily: 'Abraham Lincoln'});
    Cufon.replace('p.big_text, p.small_text', {fontFamily: 'Museo Slab 100'});
    Cufon.replace('p.big_text strong, p.small_text strong', {fontFamily: 'Museo Slab 700'});
    Cufon.replace('.signature', {fontFamily: 'Inspiration'});
</script>


</head>
<body>
<div id="transy">
</div>
<div id="wrapper">
    <div class="logo" style="align:center;"><a href=":url:"><img src=":url:/images/logo.png" title="Writing Live"></a></div>
    <div class="content">
        <div class="email-content-main">
            <p>Hi :fname:!</p>
            <p>&nbsp;</p>
            <p>Thank you for joining Writing Live, where readers and writers like you can watch what we love be made! You recently signed up for an account on our website, <a href=":url:" title="Writing Live">www.writinglive.com</a>. If you did not create this account, please ignore this email and your information will be removed from our database within 24-48 hours.</p>

            <p>Please confirm your registration by clicking the link below:</p>
            <p><a href=":url:/confirmemail.php?email=:email:&code=:code:">:url:/confirmemail.php?email=:email:&code=:code:</a></p>
            <p>&nbsp;</p>
            <p>If you are having troubles viewing the link above, please copy/paste the following address into your browser and use your email address and code: :code: in the text fields provided to you.<br />
                <center>:url:/confirmemail.php?email=:email:&code=:code:</center>
            </p>
            <p>&nbsp;</p>
            <p>Suggestions are ALWAYS welcomed. You can provide feedback on the site's design or suggestions on site changes by visiting: <a href=":url:/contact.php" title="Contact Us">:url:/contact.php</a>
            </p>
            <p>Best Wishes,</p>
            <p class="signature">Writing Live Staff</p>
        </div>
        </div>
        <div class="clear"></div>
        <ul class="social">
            <li class="pinterest"><a href="#"></a></li>
            <li class="twitter"><a href="https://www.twitter.com/writinglive" title="twitter.com/WritingLive"></a></li>
            <li class="facebook"><a href="https://www.facebook.com/pages/Writing-Live/235962083271941" title="Writing Live Facebook"></a></li>
        </ul>
        
        
    </div>
</div>
</body>
</html>
